/* Home Page/Nav Bar */
body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  padding: 10px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid black;
}

.nav-bar {
  font-size: 24px;
  color: white;
}

.home-ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.home-ul li {
  margin-right: 15px;
}

.home-ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.home-ul li a:hover {
  background-color: #555;
}

.home-ul li a.active {
  color: red;
}

/* Media */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-ul {
    flex-direction: column;
  }

  .home-ul li {
    margin: 5px 0;
  }
}
